{% extends "base.html" %}

{% block title %}
Home
{% endblock title %}

{% block base_content %}
    <h1 style="font-size: 40px;"> ReUse </h1>

    <div style="height: 100%; background-color: rgb(208, 225, 206)">
        <br>
        {% block content %}{% endblock content %}
        <br>
        <br>
        <br>
        <div style="color: black; text-align: left;">
            {% for post_with_type in posts_with_types %}
                <div style="background-color: #ECF3EB; padding: 1em 3em; margin-left: auto; margin-right: auto; border-radius: 4px;">
                    <form action="{{ url_for('view_post', post_id=post_with_type['post']['id'], post_type=post_with_type['type']) }}">
                        <h2> {{ post_with_type['type'] }} </h2>
                        Title: {{ post_with_type['post']['title'] }}
                        <br>
                        {% if post_with_type['post']['reserved'] %}
                            <font color="red"> THIS POST IS RESERVED </font>
                            <br>
                        {% endif %}
                        <br>
                        Description: {{ post_with_type['post']['description'] }}
                        <br>
                        Posted on: {{ post_with_type['post']['date'] }}
                        <br>
                        Location: {{ post_with_type['post']['location'] }}
                        <br>
                        {% if post_with_type['post']['is_charity'] == "yes" %}
                            <font color="red"> THIS IS A CHARITY </font>
                            <br>
                        {% endif %}
                        <button class="button" type="submit"> View post </button>
                    </form>
                </div>
                <br>
            {% endfor %}
            <br>
            <br>
            <br>
        </div>
    </div>
{% endblock base_content %}

