<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title> First page </title>
    </head>
    <body>
        <style>
        h1 {text-align: center;}
        </style>
        <h1> ReUse </h1>
        <br>
        {% block content %}{% endblock content %}
        <br>
        <br>
        <br>
        {% for post_with_type in posts_with_types %}
            <div style="background-color: #E0FFFF; padding: 3em 6em">
                <form action="{{ url_for('view_post', post_id=post_with_type['post']['id'], post_type=post_with_type['type']) }}">
                    <h2> {{ post_with_type['type'] }} </h2>
                    Title: {{ post_with_type['post']['title'] }}
                    <br>
                    Description: {{ post_with_type['post']['description'] }}
                    <button type="submit"> View post </button>
                </form>
            </div>
            <br>
        {% endfor %}
        <br>
        <br>
        <br>
    </body>
</html>

