{% extends "my_posts.html" %}

{% block title %} My donations {% endblock title%}

{% block content %}
    <h1 style="font-size: 4em;"> My donations </h1>
    {% for my_donation_with_type in my_donations_with_types %}
        <div style="color: black; text-align: left; background-color: #ECF3EB; padding: 1em 3em; width: 70%;margin-left: auto; margin-right: auto; border-radius: 4px;">
            <form action="{{ url_for('view_my_post', my_post_id=my_donation_with_type['post']['id'], my_post_type=my_donation_with_type['type']) }}">
                <h2> {{ my_donation_with_type['type'] }} </h2>
                Title: {{ my_donation_with_type['post']['title'] }}
                <br>
                Description: {{ my_donation_with_type['post']['description'] }}
                <br>
                <button class="button" type="submit"> View donation </button>
            </form>
        </div>
        <br>
    {% endfor %}

    <br> <font color="black"> These following posts older than 90 days. They have been automatically deactivated after 90 days, but you can
        reactivate them by clicking on the ACTIVATE button. </font> <br> <br>

    {% for my_timeouted_donation_with_type in my_timeouted_donations_with_types %}
        <div style="color: black; text-align: left; background-color: #ECF3EB; padding: 1em 3em; width: 70%;margin-left: auto; margin-right: auto; border-radius: 4px;">
            <form action="{{ url_for('view_my_post', my_post_id=my_timeouted_donation_with_type['post']['id'], my_post_type=my_timeouted_donation_with_type['type']) }}">
                <h2> {{ my_timeouted_donation_with_type['type'] }} </h2>
                Title: {{ my_timeouted_donation_with_type['post']['title'] }}
                <br>
                Description: {{ my_timeouted_donation_with_type['post']['description'] }}
                <br>
                <button class="button" type="submit"> View donation </button>
            </form>
            <form action="{{ url_for('activated_post', my_post_id=my_timeouted_donation_with_type['post']['id'], my_post_type=my_timeouted_donation_with_type['type']) }}">
                <button class="button" type="submit"> ACTIVATE </button>
            </form>
        </div>
        <br>
    {% endfor %}
{% endblock content %}