{% extends "base.html" %}

{% block title %}
Profile
{% endblock title %}

{% block base_content %}
  <style>
    .button {
      background-color: #F0D5B4;
      font-size : 16px;
      padding: 20px 20px;
      margin: 6px 0;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
    .button:hover {
      background-color: #C4A874;
    }
    body, h1, h2 {
      color: black;
    }
  </style>

  <h1 class="title" style="color: black;">
    Welcome, {{ name }}!
  </h1>
  <h2>
    Email: {{ email }}
  </h2>
  <form action="{{ url_for('my_donations') }}">
    <button class="button" type="submit"> My donations </button>
  </form>
  <form action="{{ url_for('my_requests') }}">
    <button class="button" type="submit"> My requests </button>
  </form>
{% endblock base_content %}