{% extends "base.html" %}

{% block title %}
{{ my_post['title'] }}
{% endblock title %}

{% block base_content %}

    <div style="background-color: #ECF3EB; color: black; padding-left: 5em; text-align: left">
        <br>
        <br>
        <h1 style="font-size: 3em;"> {% block my_post_type %}{% endblock my_post_type %} </h1>
        <br>
        <br>
        Title: {{ my_post['title'] }}
        <br>
        <br>
        Description: {{ my_post['description'] }}
        <br>
        <br>
        Category: {{ my_post['category'] }}
        <br>
        <br>
        Location: {{ my_post['location'] }}

        {% block other_fields %}{% endblock other_fields %}

        <br>
        <br>

        People interested:
        <ul>
        {% for interested_person in interested_people %}
            <li> {{ interested_person[0] }} ; {{ interested_person[1] }}
            {% if not reserved_person %}
            <form action=" {{ url_for('reserved_post', reserved_person=interested_person[0]) }} ">
            <button> Reserve </button>
            </form>
            {% endif %}
            {% if reserved_person == interested_person[2] %}
                <font color="red"> <b> Reserved! </b> </font>
            {% endif %}
             </li>
        {% endfor %}
        </ul>

        <br>
        <br>
    </div>
{% endblock base_content %}