<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title> {{ post['title'] }} </title>
        <style>
            body {
                    background-color: rgb(208, 225, 206);
            }

            .button {
                background-color: #F0D5B4;
                font-size : 16px;
                padding: 7px 12px;
                margin: 6px 0;
                border: none;
                border-radius: 4px;
                cursor: pointer;
            }
        </style>
    </head>
    <body>
        <br>
        <br>
        <br>
        <br>
        <div style="background-color: #ECF3EB; color: black; padding-left: 5em">
            <br>
            <br>
            {% block post_type %}{% endblock post_type %}
            <br>
            <br>
            Owner of the post: {{ owner[0] }}
            <br>
            <br>
            Email: {{ owner[1] }}
            <br>
            <br>
            Title: {{ post['title'] }}
            <br>
            <br>
            Description: {{ post['description'] }}
            <br>
            <br>
            Category: {{ post['category'] }}
            <br>
            <br>
            Location: {{ post['location'] }}
            {% block other_fields %}{% endblock other_fields %}
            <br>
            <br>

            People interested:
            <ul>
            {% for interested_person in interested_people %}
                <li> {{ interested_person[0] }} ; {{ interested_person[1] }} </li>
            {% endfor %}
            </ul>

            <br>
            <br>
            <form action={% block interested_button %}{% endblock interested_button %}>
                <button class="button" >
                    <p style="color:black">
                        {% block submit_button %}{% endblock submit_button %}
                        <br>
                    </p>
                </button>
            </form>
            <br>
            <br>
        </div>
    </body>
</html>